/* ベース */

body{
	background-color:#cccc00;
}

div.container{
	background-color:white;
	border-color:#cc9933;
}

div.logo{
	background-color:#cc9933;
	color:white;
}

div.logo span.logo_text{
	color:white;
}

div.logo img{
	background-color:white;
}

div.navigationbar{
	background-color:#ccff00;
}

div.body div.related, div.body div.notefoot{
	color:#666666;
}

div.body div.notefoot span.small{
	color:black;
}

div.editbar{
	background-color:#ccff00;
	color:#666666;
}

div.footer{
	background-color:#cc9933;
	color:white;
}

div.menu h2, div.menu h3, div.menu h4, div.menu h5{
	border-bottom:dashed 1px #cc9933;
}

/* 本文デザイン */

div.body pre{
	border:solid 1px #cc9933;
	background-color:#ffffaa;
}

div.body blockquote{
	border-top:solid 2px #cc9933;
	border-bottom:solid 2px #cc9933;
	border-left:dashed 1px #cc9933;
	border-right:dashed 1px #cc9933;
}

div.body h2{
	border:solid #cc9933 1px;
	border-left:solid #cc9933 8px;
	padding:4px 4px 4px 10px;
}

div.body h3, div.body h5{
	border-bottom:dashed #cc9933 1px;
	padding:4px;
}

div.body h4{
	border-bottom:solid #ccff00 1px;
	padding:4px;
}

div.body .style_table{
	border:solid 1px #cc9933;
}

div.body td.style_td{
	border-bottom:dashed 1px #cc9933;
}

div.body thead td.style_td, div.body tfoot td.style_td{
	background-color:#ccff00;
}

/* アンカー */

div.logo a, div.footer a{
	color:white;
	text-decoration:none;
}

div.navigationbar a, div.editbar a{
	color:black;
	text-decoration:none;
}

div.editbar a{
	padding:0px 4px 0px 4px;
}

div.logo a:hover, div.footer a:hover, div.navigationbar a:hover, div.editbar a:hover{
	text-decoration:underline;
}

div.menu ul a{
	color:black;
	border-color:white;
	text-decoration:none;
}

div.menu ul a:hover{
	background:#ccff00;
	border:1px solid #cc9933;
}

div.body a{
	color:black;
	border-bottom:dashed 1px #ccff00;
	text-decoration:none;
}

div.body a:hover{
	color:black;
	border-bottom:dashed 1px #ffcc00;
	text-decoration:none;
}

div.body h2 a, div.body h3 a, div.body h4 a{
	color:black;
	border-bottom:0px;
	text-decoration:none;
}

div.body h2 a:hover, div.body h3 a:hover, div.body h4 a:hover{
	color:black;
	border-bottom:0px;
	text-decoration:none;
}

div.body div.related a, div.body div.notefoot a{
	border-bottom:dashed 1px #ccff00;
}